Database/Instance
~~~~~~~~~~~~~~~~~

      DBID INSTANCE_NUMBER STARTUP_TIME               VERSION                            DB_NAME            INSTANCE_NAME                    SHORT_HOST_NAME                PLATFORM_NAME
---------- --------------- -------------------------- ---------------------------------- ------------------ -------------------------------- ------------------------------ ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 828012650               1 18-3月 -15 06.29.07.000 上 12.1.0.2.0                         CDB1               cdb1                             localhost                      Linux x86 64-bit
                           午
 828012650               1 20-3月 -15 11.13.33.000 上 12.1.0.2.0                         CDB1               cdb1                             localhost                      Linux x86 64-bit
                           午
 828012650               1 20-3月 -15 12.25.07.000 下 12.1.0.2.0                         CDB1               cdb1                             localhost                      Linux x86 64-bit
                           午
 828012650               1 20-3月 -15 10.44.02.000 下 12.1.0.2.0                         CDB1               cdb1                             localhost                      Linux x86 64-bit
                           午
 828012650               1 21-3月 -15 10.11.30.000 上 12.1.0.2.0                         CDB1               cdb1                             localhost                      Linux x86 64-bit
                           午
 828012650               1 21-3月 -15 10.23.02.000 上 12.1.0.2.0                         CDB1               cdb1                             localhost                      Linux x86 64-bit
                           午
 828012650               1 21-3月 -15 12.14.08.000 下 12.1.0.2.0                         CDB1               cdb1                             localhost                      Linux x86 64-bit
                           午
 828012650               1 27-3月 -15 04.48.53.000 上 12.1.0.2.0                         CDB1               cdb1                             localhost                      Linux x86 64-bit
                           午


CPU from ASH MEM
~~~~~~~~~~~~~~~~

                                          Active       Active
                               Active   Sessions     Sessions
                             Sessions     ON CPU    ON RESMGR                                                  Hours
Metric              INST_ID    ON CPU  or RESMGR  CPU quantum Begin Interval     End Interval        Samples    Hist
---------------- ---------- --------- ---------- ------------ ------------------ ------------------ -------- -------
Maximum or peak           1       3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
Maximum or peak                   3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
99.99th percntl           1       3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
99.99th percntl                   3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
99.9th percentl           1       3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
99.9th percentl                   3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
99th percentile           1       3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
99th percentile                   3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
97th percentile           1       3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
97th percentile                   3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
95th percentile           1       3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
95th percentile                   3.0        3.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
90th percentile           1       2.0        2.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
90th percentile                   2.0        2.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
75th percentile           1       1.0        1.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
75th percentile                   1.0        1.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
Median                    1       1.0        1.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
Median                            1.0        1.0          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
Average                   1       1.2        1.2          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9
Average                           1.2        1.2          0.0 2015-03-27 04:49   2015-03-28 05:42        125    24.9


CPU from ASH AWR
~~~~~~~~~~~~~~~~

SQL> cd ..
SP2-0042: 未知命令 "cd .." - 其余行忽略。
SQL> exit
